<!--Citation: this is modified from the sample code for main.hbs from Exploration Web Application Technology-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>CS340 - My Project</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav>
        Navigation:
        <a href="/">Home</a>
        <a href="/customers">Customers</a>
        <a href="/items">Items</a>
        <a href="/rentals">Rentals</a>
        <a href="/rental_items">Rental_Items</a>
        <a href="/payments">Payments</a>
    </nav>

    {{{body}}}

</body>

</html>