<!--Citation: this is modified from the sample code for home.hbs from Exploration Web Application Technology-->
<h1>Lucky Swag Rental Management System</h1>
<div class="homepageDescription">
    <p>
        [Group 8 Project Step 4 CUD Stored Procedures] <br>
        <br>
        [CUD works for the views except the Payments view (working on it)] <br>
        <br>
        [Rental_Items view does not have Create function since it's an intersection table view.] [I think we still need
        Create in thie view, will add it.]<br>
        <br>
        [RESET button has not been added (working on it)] <br>
    </p>
</div>