<!--Citation: this is modified from the sample code for home.hbs from Exploration Web Application Technology-->
<h1>Lucky Swag Rental Management System</h1>
<div class="homepageDescription">
    <p>Group 8</p>
    <p>
        <br>
        CUD should work for all views.
        <br>
        <br>
    </p>


</div>