<!--Citation: this is modified from the sample code for home.hbs from Exploration Web Application Technology-->
<h1>Lucky Swag Rental Management System</h1>
<div class="homepageDescription">
    <p>
        [Group 8 Project Step 3 Draft]

    </p>
</div>