/* Citation: this is modified from the sample code for style.css from Exploration Web Application Technology */
h1,
h2 {
    margin-left: 16px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(244, 231, 212);
}

table {
    border-collapse: collapse;
    margin-left: 32px;
    border: 2px solid #333;
}

a {
    text-decoration: none;
    font-size: 1.35em;
}

tbody {
    background-color: white;
}

thead {
    background-color: #cecece;
}

th,
td {
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    text-align: left;
    border: 1px solid #333;
}

th {
    color: #666;
    font-weight: 600;
}

.cuForm {
    margin-left: 32px;
}

input,
select {
    margin-bottom: 4px;
    margin-right: 12px;
}

nav {
    background-color: #cecece;
    padding: 16px;
}

a {
    margin-left: 16px;
}

div {
    margin-top: 10px;
    margin-left: 32px;
    margin-bottom: 1px;
}

/* add more styles */